/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.all_body{
  font-size: 13px;
  margin:33px;
  line-height: 18px;
  background-color: #fff;
  color: #333;
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
}
.top-link{
  margin:33px;
}
.title{
  width: 192px;
  text-align: center;
}

.body {
  width: 400px;
  text-align: center;

}
.show_body{
  margin:33px;
}

th{
  text-align: center;
  font-weight: bold;
}

p{
  margin:33px;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
  background-color: #fff;
  color: #333;
  font-size: 13px;
}


div{
  display: block;

}

.edit_title{
 margin-bottom:33px;
}

.submit{
  display: block;
  
  margin-top: 33px;
  
}

table{
  margin: 33px;
}

.index-title{
  margin: 33px;
}

.Newbook{
  margin: 33px;
}